.form-wrapper{
  width: 100%;
  max-width: 720px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .form-wrapper form{
    width: 100%;
  }

  .form-wrapper h2{
    font-family: monospace;
    font-size: 36px;
    text-align: center;
    color: #292929;
    margin: 0 0 32px 0;
  }


  .form-col{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    margin-bottom: 12px;
  }

  .form-col label{
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    color: #292929;
    margin: 0 0 4px 0;
  }

  .form-col input{
    height: 36px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: 0;
    padding: 0 12px;
    font-family: monospace;
    font-size: 14px;
    color: #000000;
  }

  .form-col input.invalid{
    border-color: #c70039;
  }

  .form-col textarea{
    min-height: 64px;
    padding: 12px;
    max-width: calc(100% - 24px);
    min-width: calc(100% - 24px);
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: 0;
    font-family: monospace;
    font-size: 14px;
    color: #000000;
  }

  .form-col textarea.invalid{
    border-color: #c70039;
  }

  .form-wrapper button{
    width: 100%;
    height: 48px;
    border: none;
    background: #292929;
    border-radius: 4px;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .form-wrapper button:hover{
    filter: brightness(80%);
  }

.form-invalid-feedback{
  position: absolute;
  bottom: 0;
  font-family: monospace;
  font-size: 12px;
  color: #c70039;
}